body.center
{
	margin:auto;
	width:800px;
}

textarea
{
	width:99%;
	height:250px;
}

div.formitem
{
	padding:10px;
	margin:5px;
	border:1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.form-horizontal .control-label {
	width: 60px;
}

.form-horizontal .controls {
	margin-left:80px;
}
