{% extends "form_base.html" %}

{% block title %}Kommunikasjonsavdelingen - Bestilling PRM-oppdrag{% endblock %}
{% block header %}Kommunikasjonsavdelingen - Bestilling PRM-oppdrag{% endblock %}
{% block order_details %}
<div class="formitem">
	<legend>Hva trenger du?</legend>
	{% if errors.assignment_type_error %}
		<label class="text-error">Feltet er obligatorisk.</label>
	{% endif %}

	<label class="radio">
		<input name="assignment_type" type="radio" value="Hjelp til planlegging av promo" {% if assignment_type = 'Hjelp til planlegging av promo' %} checked="checked" {% endif %}>Hjelp til planlegging av promo</input>
	</label>
	<label class="radio">
		<input name="assignment_type" type="radio" value="Planlegge distribusjon/kommunikasjon utad" {% if assignment_type = 'Planlegge distribusjon/kommunikasjon utad' %} checked="checked" {% endif %}>Planlegge distribusjon/kommunikasjon utad</input>
	</label>
	<label class="radio">
		<input name="assignment_type" type="radio" value="Møte vedrørende markedsføringsstrategi (målgruppe, kanaler, budskap, osv)" {% if assignment_type = 'Møte vedrørende markedsføringsstrategi (målgruppe, kanaler, budskap, osv)' %} checked="checked" {% endif %}>Møte vedrørende markedsføringsstrategi (målgruppe, kanaler, budskap, osv)</input>
	</label>
	<label class="radio">
		<input name="assignment_type" type="radio" value="Planlegge søknader for støtte av HS/Admin/CNS eller eksternt" {% if assignment_type = 'Planlegge søknader for støtte av HS/Admin/CNS eller eksternt' %} checked="checked" {% endif %}>Planlegge søknader for støtte av HS/Admin/CNS eller eksternt</input>
	</label>
	<label class="radio">
		<input name="assignment_type" type="radio" value="Forespørsel om deling av Facebook-innhold gjennom DNS-siden" {% if assignment_type = 'Forespørsel om deling av Facebook-innhold gjennom DNS-siden' %} checked="checked" {% endif %}>Forespørsel om deling av Facebook-innhold gjennom DNS-siden</input>
	</label>
	<label class="radio">
		<input name="assignment_type" type="radio" value="Opprette arrangement som DNS" {% if assignment_type = 'Opprette arrangement som DNS' %} checked="checked" {% endif %}>Opprette arrangement som DNS</input>
	</label>
	<label class="radio">
		<input name="assignment_type" type="radio" value="other" {% if assignment_type = 'other' %} checked="checked" {% endif %}>Annet: 
		</input>
	</label>
	<input type="text" name="assignment_type_other" value="{{ assignment_type_other }}" style="margin-left:20px;" />
	{% if errors.assignment_type_other_error %}
		<label class="text-error" style="margin-left:20px;">Feltet er obligatorisk hvis du velger "annet". Innholdet kan ikke ha mer enn 50 tegn.</label>
	{% endif %}
</div>
<div class="formitem">
	<legend>Innhold</legend>
	<div class="desc">
		<p>Hvem, hva, hvor og når</p>
		<p>Oppdragsgiver er pliktet til å forsyne oppdragstaker med tilstrekkelig og korrekt informasjon. Det er heller ikke oppdragstakers oppgave å sørge for at oppgitt informasjon/data er korrekt, og er følgelig fraskrevet alt ansvar dersom informasjonen er ukorrekt.</p>
		<p>Bestillingen skal inneha en klar og tydelig formulering.</p>
		<label>For Facebook-innhold:</label>
		<ul>
			<li>Statuser - Tekstinnhold, link til ev. bilde i Drive eller Dropbx, link til ev. nettside eller arrangement som skal deles, osv</li>
			<li>Arrangement - Arrangementsbeskrivelse, tidspunkt, sted, billettpris, link til coverbilde i Google Drive eller Dropbox.</li>
		</ul>
		<p>Oppdragstaker er pliktet til å ta kontakt med oppdragsgiver så fort bestillingen er tildelt den.</p>
	</div>
	{% if errors.content_error %}
		<label class="text-error">Feltet er obligatorisk.</label>
	{% endif %}
	<textarea name="content">{{ content }}</textarea>
</div>
{% endblock %}
