<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Kommunikasjonsavdelingen - Bestilling designoppdrag</title>
		{% load staticfiles %}
		<link type="text/css" href="{% static 'css/jquery.ui.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/jquery.ui.datepicker.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/design/style.css' %}" rel="stylesheet" />	
		<script type="text/javascript" src="{% static 'js/jquery-2.0.0.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.ui.core.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.ui.datepicker.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	</head>
	<body class="center">
		<script type="text/javascript">
			$(document).ready(function(){
				$("#deadline").datepicker({altField: '#deadline_field',
			  						altFormat: 'yy-mm-dd',
			  						minDate: '+2w',
			  						defaultDate: new Date("{{ deadline }}") });
			});
		</script>
		<h3 style="margin-left:15px;">Kommunikasjonsavdelingen - Bestilling designoppdrag </h3>
		
		<form method="post" action="." method="post" id="bestilling">{% csrf_token %}
		
			<div class="formitem">
				<legend>Forening</legend>
				<label>Hvem bestiller?</label>
				<input type="text" name="client" value="{{ client }}" />
				{% if errors.client_error %}
					<label class="text-error">Feltet er obligatorisk.</label>
				{% endif %}
			</div>
		
			<div class="formitem">
				<legend>Frist</legend>
				<div class="desc">
					<p>Fristen må være tidligst to uker etter bestilling.</p>
					<p>Tidsfristen for oppdraget skal være forsvarlig i henhold til estimert arbeidsmengde. Dersom bestillingen er et hastoppdrag, må det gjerne presiseres, men Kommunikasjonsavdelingen kan ikke garantere at bestillingen prioriteres fremfor øvrige oppdrag.</p>
				</div>
				<input id = "deadline_field" style="display:none;" value="" name="deadline" />
				<div id="deadline"></div>
			</div>
			<div class="formitem">
				<legend>Kontaktperson</legend>
			
				<div class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="contact_name">Navn:</label>
						<div class="controls">
							<input type="text" name="contact_name" value="{{ contact_name }}" />
							{% if errors.contact_name_error %}
								<label class="text-error">Feltet er obligatorisk.</label>
							{% endif %}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="contact_email">Email:</label>
						<div class="controls">
							<input type="text" name="contact_email" value="{{ contact_email }}" />
							{% if errors.contact_email_error %}
								<label class="text-error">Skriv inn gyldig epost-adresse.</label>
							{% endif %}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="contact_number">Tlf.:</label>
						<div class="controls">
							<input type="text" name="contact_number" value="{{ contact_number }}" />
							{% if errors.contact_number_error %}
								<label class="text-error">Skriv inn gyldig telefonnummer.</label>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		
			<div class="formitem">
				<legend>Format</legend>
				{% if errors.format_error %}
					<label class="text-error">Feltet er obligatorisk.</label>
				{% endif %}
			
				<label class="radio">
					<input name="format" type="radio" value="Trykk - Flyer" {% if format = 'Trykk - Flyer' %} checked="checked" {% endif %}>Trykk - Flyer</input>
				</label>
				<label class="radio">
					<input name="format" type="radio" value="Trykk - Plakat" {% if format = 'Trykk - Plakat' %} checked="checked" {% endif %}>Trykk - Plakat</input>
				</label>
				<label class="radio">
					<input name="format" type="radio" value="Trykk - Banner" {% if format = 'Trykk - Banner' %} checked="checked" {% endif %}>Trykk - Banner</input>
				</label>
				<label class="radio">
					<input name="format" type="radio" value="Web - Annonse" {% if format = 'Web - Annonse' %} checked="checked" {% endif %}>Web - Annonse</input>
				</label>
				<label class="radio">
					<input name="format" type="radio" value="Web - Banner" {% if format = 'Web - Banner' %} checked="checked" {% endif %}>Web - Banner</input>
				</label>
				<label class="radio">
					<input name="format" type="radio" value="Web - Bilde" {% if format = 'Web - Bilde' %} checked="checked" {% endif %}>Web - Bilde</input>
				</label>
				<label class="radio">
					<input name="format" type="radio" value="other" {% if format = 'other' %} checked="checked" {% endif %}>Annet: 
					</input>
				</label>
				<input type="text" name="format_other" value="{{ format_other }}" style="margin-left:20px;" />
				{% if errors.format_other_error %}
					<label class="text-error" style="margin-left:20px;">Feltet er obligatorisk hvis du velger "annet".</label>
				{% endif %}
			</div>
			
			<div class="formitem">
				<legend>Størrelse</legend>
				{% if errors.paper_size_error %}
					<label class="text-error">Feltet er obligatorisk.</label>
				{% endif %}
			
				<label class="radio">
					<input name="paper_size" type="radio" value="A2" {% if paper_size = 'A2' %} checked="checked" {% endif %}>A2</input>
				</label>
				<label class="radio">
					<input name="paper_size" type="radio" value="A3" {% if paper_size = 'A3' %} checked="checked" {% endif %}>A3</input>
				</label>
				<label class="radio">
					<input name="paper_size" type="radio" value="A4" {% if paper_size = 'A4' %} checked="checked" {% endif %}>A4</input>
				</label>
				<label class="radio">
					<input name="paper_size" type="radio" value="A5" {% if paper_size = 'A5' %} checked="checked" {% endif %}>A5</input>
				</label>
				<label class="radio">
					<input name="paper_size" type="radio" value="A6" {% if paper_size = 'A6' %} checked="checked" {% endif %}>A6</input>
				</label>
				<label class="radio">
					<input name="paper_size" type="radio" value="other" {% if paper_size = 'other' %} checked="checked" {% endif %}>Annet:
				</label>
				{% if errors.paper_size_other_error %}
					<label class="text-error" style="margin-left:20px;">Feltet er obligatorisk hvis du velger "annet".</label>
				{% endif %}
				<input type="text" name="paper_size_other" value="{{ paper_size_other }}" style="margin-left:20px;" />
			</div>
		
			<div class="formitem">
				<legend>Farger eller svart/hvitt</legend>
				{% if errors.colour_error %}
					<label class="text-error">Feltet er obligatorisk.</label>
				{% endif %}
				
				<label class="radio">
					<input name="colour" type="radio" value="Farge" {% if colour = 'Farge' %} checked="checked" {% endif %}>Farge</input>
				</label>
				<label class="radio">
					<input name="colour" type="radio" value="Svart/hvitt" {% if colour = 'Svart/hvitt' %} checked="checked" {% endif %}>Svart/hvitt</input>
				</label>
			</div>
		
			<div class="formitem">
				<legend>Profesjonell print eller skrive ut selv</legend>
				{% if errors.marger_error %}
					<label class="text-error">Feltet er obligatorisk.</label>
				{% endif %}
				
				<label class="radio">
					<input name="marger" type="radio" value="Jeg skal sende dette til et trykkeri" {% if marger = 'Jeg skal sende dette til et trykkeri' %} checked="checked" {% endif %}>Jeg skal sende dette til et trykkeri</input>
				</label>
				<label class="radio">
					<input name="marger" type="radio" value="Jeg skal skrive ut dette på min egen printer" {% if marger = 'Jeg skal skrive ut dette på min egen printer' %} checked="checked" {% endif %}>Jeg skal skrive ut dette på min egen printer</input>
				</label>
			</div>
		
			<div class="formitem">
				<legend>Innhold</legend>
				<div class="desc">
					<p>Hvem, hva, hvor og når</p>
					<p>Oppdragsgiver er pliktet til å forsyne oppdragstaker med tilstrekkelig og korrekt informasjon. Det er heller ikke oppdragstakers oppgave å sørge for at oppgitt informasjon/data er korrekt, og er følgelig fraskrevet alt ansvar dersom informasjonen er ukorrekt.</p>
					<p>Bestillingen skal inneha en klar og tydelig formulering.</p>
					<p>Oppdragstaker er pliktet til å ta kontakt med oppdragsgiver så fort bestillingen er tildelt den.</p>
				</div>
				{% if errors.content_error %}
					<label class="text-error">Feltet er obligatorisk.</label>
				{% endif %}
				<textarea name="content">{{ content }}</textarea>
			</div>
			<div class="submit">
				<input class="btn" type="submit" value="Send bestilling" name="bestill" style="margin-left:20px;margin-top:5px;" />
			</div>
		</form>
	</body>
</html>
