{% extends "form_base.html" %}

{% block title %}Kommunikasjonsavdelingen - Bestilling designoppdrag{% endblock %}
{% block header %}Kommunikasjonsavdelingen - Bestilling designoppdrag{% endblock %}
{% block order_details %}
<div class="formitem">
	<legend>Format</legend>
	{% if errors.format_error %}
		<label class="text-error">Feltet er obligatorisk.</label>
	{% endif %}

	{% for format_type_code, format_type_display in format_types %}
	<label class="radio">
		<input name="format" type="radio" value="{{ format_type_code }}" {% if format = format_type_code %} checked="checked" {% endif %}>{{ format_type_display }}</input>
	</label>
	{% endfor %}
	<label class="radio">
		<input name="format" type="radio" value="other" {% if format = 'other' %} checked="checked" {% endif %}>Annet:</input>
	</label>
	<input type="text" name="format_other" value="{{ format_other }}" style="margin-left:20px;" />
	{% if errors.format_other_error %}
		<label class="text-error" style="margin-left:20px;">Feltet er obligatorisk hvis du velger "annet". Innholdet kan ikke ha mer enn 50 tegn.</label>
	{% endif %}
</div>

<div class="formitem">
	<legend>Størrelse</legend>
	{% if errors.paper_size_error %}
		<label class="text-error">Feltet er obligatorisk.</label>
	{% endif %}

	{% for paper_size_code, paper_size_display in paper_sizes %}
		<label class="radio">
			<input name="paper_size" type="radio" value="{{ paper_size_code }}" {% if paper_size = paper_size_code %} checked="checked" {% endif %}>{{ paper_size_display }}</input>
		</label>
	{% endfor %}

	<label class="radio">
		<input name="paper_size" type="radio" value="other" {% if paper_size = 'other' %} checked="checked" {% endif %}>Annet:
	</label>
	{% if errors.paper_size_other_error %}
		<label class="text-error" style="margin-left:20px;">Feltet er obligatorisk hvis du velger "annet". Innholdet kan ikke ha mer enn 50 tegn.</label>
	{% endif %}
	<input type="text" name="paper_size_other" value="{{ paper_size_other }}" style="margin-left:20px;" />
</div>

<div class="formitem">
	<legend>Farger eller svart/hvitt</legend>
	{% if errors.colour_error %}
		<label class="text-error">Feltet er obligatorisk.</label>
	{% endif %}
	
	<label class="radio">
		<input name="colour" type="radio" value="Farge" {% if colour = 'Farge' %} checked="checked" {% endif %}>Farge</input>
	</label>
	<label class="radio">
		<input name="colour" type="radio" value="Svart/hvitt" {% if colour = 'Svart/hvitt' %} checked="checked" {% endif %}>Svart/hvitt</input>
	</label>
</div>

<div class="formitem">
	<legend>Profesjonell print eller skrive ut selv</legend>
	{% if errors.marger_error %}
		<label class="text-error">Feltet er obligatorisk.</label>
	{% endif %}
	
	<label class="radio">
		<input name="marger" type="radio" value="Jeg skal sende dette til et trykkeri" {% if marger = 'Jeg skal sende dette til et trykkeri' %} checked="checked" {% endif %}>Jeg skal sende dette til et trykkeri</input>
	</label>
	<label class="radio">
		<input name="marger" type="radio" value="Jeg skal skrive ut dette på min egen printer" {% if marger = 'Jeg skal skrive ut dette på min egen printer' %} checked="checked" {% endif %}>Jeg skal skrive ut dette på min egen printer</input>
	</label>
</div>

<div class="formitem">
	<legend>Innhold</legend>
	<div class="desc">
		<p>Hvem, hva, hvor og når</p>
		<p>Oppdragsgiver er pliktet til å forsyne oppdragstaker med tilstrekkelig og korrekt informasjon. Det er heller ikke oppdragstakers oppgave å sørge for at oppgitt informasjon/data er korrekt, og er følgelig fraskrevet alt ansvar dersom informasjonen er ukorrekt.</p>
		<p>Bestillingen skal inneha en klar og tydelig formulering.</p>
		<p>Oppdragstaker er pliktet til å ta kontakt med oppdragsgiver så fort bestillingen er tildelt den.</p>
	</div>
	{% if errors.content_error %}
		<label class="text-error">Feltet er obligatorisk.</label>
	{% endif %}
	<textarea name="content">{{ content }}</textarea>
</div>
{% endblock %}
