<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Kommunikasjonsavdelingen - Designoppdrag nr {{ order.id }}</title>
		{% load staticfiles %}
		<link type="text/css" href="{% static 'css/jquery.ui.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/jquery.ui.datepicker.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/design/style.css' %}" rel="stylesheet" />	
		<script type="text/javascript" src="{% static 'js/jquery-2.0.0.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.ui.core.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.ui.datepicker.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	</head>
	<body class="center">
		<h1 class="text-center" style="margin:30px;">Bestilling fra {{ order.client }}</h1>

		<table class="table table-bordered">
			<tr>
				<th style="width:50%;">Hvem</th>
				<td style="width:50%;">{{ order.client }}</td>
			</tr>
			<tr>
				<th>Kontaktperson</th>
				<td>{{ order.contact_name }} {% if order.contact_email %}(<a href="mailto:{{ order.contact_email }}">{{ order.contact_email }}</a>){% endif %}</td>
			</tr>
			<tr>
				<th>Bestillingsdato</th>
				<td>{{data.created|date:"d. E Y" }}</td>
			</tr>
			<tr>
				<th>Frist</th>
				<td>{{ data.due|date:"d. E Y" }}</td>
			</tr>
			<tr>
				<th>Dager igjen</th>
				<td>{{ data.days_left|default:"" }}</td>
			</tr>
			<tr>
				<th>Telefon</th>
				<td>{{ order.contact_number|default:"--" }}</td>
			</tr>
			<tr>
				<th>Tildelt</th>
				<td>
					{% if data.members %}
					<ul style="margin: 0 0 0 25px;">
						{% for member in data.members %}
							<li>{{ member.full_name }}</li>
						{% endfor %}
					</ul>
					{% else %}
					Ingen
					{% endif %}
				</td>
			</tr>
		</table>
	
		<pre>{{ order.content }}</pre>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width:25%;">Format</th>
					<th style="width:25%;">Ark st&oslash;rrelse</th>
					<th style="width:25%;">Farger</th>
					<th style="width:25%;">Marger</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ order.format_type }}</td>
					<td>{{ order.paper_size }}</td>
					<td>{{ order.colour }}</td>
					<td>{{ order.marger }}</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
