{% extends "order_base.html"%}

{% block title %}Kommunikasjonsavdelingen - Designoppdrag nr {{ order.id }}{% endblock%}

{% block order_details %}
<table class="table table-bordered">
	<caption>Bestilling</caption>
	<thead>
		<tr>
			<th>Format</th>
			<th>Arkst&oslash;rrelse</th>
			<th>Farger</th>
			<th>Marger</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ order.format_type }}</td>
			<td>{{ order.paper_size }}</td>
			<td>{{ order.colour }}</td>
			<td>{{ order.marger }}</td>
		</tr>
	</tbody>
</table>
<pre>{{ order.content }}</pre>
{% endblock %}
