<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Bestillingsskjema for KAK</title>
		{% load staticfiles %}
		<link type="text/css" href="{% static 'css/jquery.ui.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/jquery.ui.datepicker.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />	
		<link type="text/css" href="{% static 'css/design/style.css' %}" rel="stylesheet" />	
		<script type="text/javascript" src="{% static 'js/jquery-2.0.0.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.ui.core.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.ui.datepicker.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	</head>
	<body class="center">
		<script type="text/javascript">
			$(document).ready(function(){
				$("#deadline").datepicker({altField: '#deadline_field',
			  						altFormat: 'yy-mm-dd',
			  						minDate: '+2w',
			  						defaultDate: new Date("{{ deadline }}") });
			});
		</script>
		<header class="page-header">
			<div class="container">
				<h1 style="margin-left:15px;">Bestillingsskjema for KAK</h1>
			</div><!-- .container -->
		</header>

		<div class="container">
			<div class="row-fluid">

				{% include "navigation.html" %}
				
				<form class="span9" method="post" action="." method="post" id="bestilling">{% csrf_token %}

					<div class="formitem">
						<fieldset id="service-picker" class="nav-content">
							<legend>Hva vil du ha?</legend>
							<label class="checkbox">
							      <input id="designpls" type="checkbox" />Design
							</label>
							<label class="checkbox">
							      <input id="prmpls" type="checkbox" />Markedsføring
							</label>
							<label class="checkbox">
							      <input id="textpls" type="checkbox" />Tekst
							</label>
						</fieldset><!-- #service-picker -->
					</div>

					{% include "contact/form.html" %}
					{% include "design/form.html" %}
					{% include "tekst/form.html" %}
					{% include "prm/form.html" %}

					<div class="submit">
						<input class="btn" type="submit" value="Send bestilling" name="bestill" style="margin-left:20px;margin-top:5px;" />
					</div>
				</form>

			</div><!-- .row-fluid -->
		</div><!-- .container -->
	</body>
</html>
