<div id="sidebar-navigation" class="span3">
	<ol id="progress-list" class="nav nav-list" data-spy="affix" data-offset-top="70">
		<li id="service-picker-nav-element" class="nav-element"><a href="#service-picker">Velg tjenester <i class="icon-ok"></i></a></li>
		<li id="contact-nav-element" class="nav-element"><a href="#contactform">Oppgi kontaktinfo <i class="icon-remove"></i></a></li>
		<li id="tekst-nav-element" class="nav-element service-nav-element"><a href="#tekstform">Fortell om teksten</a></li>
		<li id="design-nav-element" class="nav-element service-nav-element"><a href="#designform">Fortell om designet</a></li>
		<li id="prm-nav-element" class="nav-element service-nav-element"><a href="#prmform">Fortell om markedsføringen</a></li>
		<li id="plsplspls-nav-element" class="nav-element"><a href="#plsplspls">Send inn</a></li>
		<li id="unknown-nav-element" class="nav-element">????</li>
		<li id="profit-nav-element" class="nav-element">PROFIT!</li>
	</ol>
</div>
